body { 
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #eee;
}

.topPanel {
	/*width: 60%;*/

	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #000;*/

	opacity: 0;
	visibility: hidden;
	transition: all .3s linear;
}

.score {
	margin: 0 auto;
	padding: 10px 10px;
	font-size: 28px;
	text-align: center;
}

.exit {
	position: absolute;
	top: 0;
	right: 0;

	margin: 0;
	padding: 10px 10px;

	font-size: 28px;
}

.exit a,
.exit a:visited {
	color: #000;
	text-decoration: none;
}

.container {
	position: relative;
	text-align: center;

	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-out;

}

/*Центрирование по вертикали и горизонтали*/
canvas#board {
	margin: 0;
}

nav {
	position: relative;

	opacity: 1;
	visibility: visible;
	transition: all .2s ease-in;
}

ul {
	background-color: #eee;
	width: 60%;
	height: auto;

	position: absolute;

	list-style-type: none;
	text-align: center;
	
	margin: auto;
	padding: 0;
	padding-top: 10%;
	top: 0; left: 0; right: 0; bottom: 0;

}

ul li {
	display: block;
	padding: 15px 20px;
	
	border-top: 1px solid #777;
	background-color: #eee;
	
	font-family: sans-serif;
	font-size: 48px;
	text-transform: uppercase;
}

ul li:last-child{
	border-bottom: 1px solid #777;
}

ul li a, 
ul li a:visited{
	text-decoration: none;
	color: #444;
}

