html, body { 
	height: 100%;
}

body { 
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #eee;
}

.gameContainer {
	position: relative;
	height: 100%;
}

.menuPage,
.gameModePage,
.gamePage {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Главное меню игры */

.menuPage {
	opacity: 1;
	visibility: visible;
	transition: all .2s ease-in;
}

.menuPage ul,
.gameModePage ul {
	/*position: absolute;*/
	width: 60%;
	height: auto;
	margin: auto;
	padding: 0;
	padding-top: 10%;
	top: 0; left: 0; right: 0; bottom: 0;

	background-color: #eee;
	list-style-type: none;
	text-align: center;

}

.menuPage ul li,
.gameModePage ul li{
	display: block;
	padding: 15px 20px;
	
	border-top: 1px solid #777;
	background-color: #eee;
	
	font-family: sans-serif;
	font-size: 42px;
	text-transform: uppercase;
}

.menuPage ul li:last-child,
.gameModePage ul li:last-child {
	border-bottom: 1px solid #777;
}

.menuPage ul li a, 
.menuPage ul li a:visited,
.gameModePage ul li a, 
.gameModePage ul li a:visited{
	text-decoration: none;
	color: #444;
}


/* Меню выбора уровней */

.gameModePage {
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in;
}

.gameModePage .header {
	margin-top: 20px;
	text-align: center;
	font-size: 36px;
	font-family: sans-serif;
	text-transform: uppercase;

}


.gameModePage ul li {
	font-size: 36px;
}


/* Игровое поле */

.gamePage {
	text-align: center;

	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in;
}

.gamePage .topPanel {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.gamePage .topPanel .score {
	margin: 0;
	padding-top: 10px;
	font-size: 28px;
}

.gamePage .topPanel .exit {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 10px 10px;
	font-size: 28px;
}

.gamePage .topPanel .exit a,
.gamePage .topPanel .exit a:visited {
	color: #000;
	text-decoration: none;
}

.gamePage .bottomPanel {
	position: relative;
}

.gamePage .bottomPanel .time,
.gamePage .bottomPanel .levelProgress {
	position: absolute;
	right: 0;
	left: 0;
	
	width: 715px;
	height: 24px;
	margin: 30px auto;
	
	
	background-color: #ddd;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.gamePage .bottomPanel .indicator{
	position: absolute;
	width: 100%;
	height: 24px;
	background-color: #bbb;

}

.gamePage .bottomPanel .progress {
	position: absolute;
	width: 0%;
	height: 24px;
	background-color: #bbb;
}


